console {
  display: block;
  width: 50%;
  height: 100%;
  background-color: #424242;
  display: inline-block;
  position: relative;
  color: #fff;

  &:after {
    content: 'console';
    position: absolute;
    top:0;
    right:0;
    background-color:#757575;
    color:#fff;
    padding: 2px 5px;
    font-size: 11px;
    opacity: 0.8;
  }

  ul {
    width:100%;
    list-style: none;
    padding-left:0;

    li {
      width: 100%;
      box-sizing: border-box;
      padding: 5px 10px;
      border-bottom: 1px solid #333;
      font-family: 'Inconsolata', monospace;

      &.error {
        color:#DD2C00;
      }
    }
  }
}
